/* Estilo para la imagen principal */
img#main-image {
  width: 150px;         /* Hace que la imagen ocupe todo el ancho disponible */
  max-width: 300px;    /* Limita el tamaño máximo a 300px */
  height: auto;        /* Mantiene las proporciones originales de la imagen */
  display: block;      /* Asegura que la imagen se muestre correctamente */
  margin: 0 auto;      /* Centra la imagen */
}

/* Media Queries para dispositivos móviles */
@media (max-width: 150px) {
  img#main-image {
    max-width: 150px;   /* Ajusta el tamaño máximo de la imagen en pantallas más pequeñas */
  }
}

/* Media Queries para pantallas extra pequeñas (como teléfonos en modo retrato) */
@media (max-width: 480px) {
  img#main-image {
    max-width: 200px;   /* Ajusta aún más el tamaño máximo de la imagen en pantallas muy pequeñas */
  }
}
